<div class="nav-bar-container">
    <div class="nav-bar">
        <div class="menu-button" onclick="sidebar_open()">☰</div>
        <a id="title" href="./home.php">
            <div>Covid Data Tracker</div>
        </a>
    </div>
</div>